
<div class="col-xs-12 col-md-6 le-sidebar">
      <br>
      <p class="lead">
          Новое в Блоге
          {{ range where .Data.Pages "Section" "blog" }}
            <ul class="nav nav-pills nav-stacked">
                 <strong>{{ .Date.Format  "2006.01.02" }} </strong>
                    |  {{.Title}}. <a href="{{ .Permalink }}"> Подробнее... </a>
             </ul>
          {{ end }}
      </p>
</div>

<div class="col-xs-12 col-md-6 le-sidebar">
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?117"></script>
  <!-- VK Widget -->
  <div id="vk_groups"></div>
  <script type="text/javascript">
  VK.Widgets.Group("vk_groups", {mode: 2, wide: 1, width: "auto", height: "600", color2: '666666', color3: '666666'}, 91600769);
  </script>
</div>
